// 10px
$baseFontSize: 62.5%
//
//=media-xl($direction: only)
//  @if ($direction == up or $direction == only)
//    @media screen and (min-width: $xl)
//      @content
//  @else if ($direction == down)
//    @media screen and (max-width: $xl - 1)
//      @content
//
//=media-lg($direction: only)
//  @if ($direction == only)
//    @media screen and (min-width: $lg) and (max-width: $xl - 1)
//      @content
//  @else if ($direction == up)
//    @media screen and (min-width: $lg)
//      @content
//  @else if ($direction == down)
//    @media screen and (max-width: $xl - 1)
//      @content
//
//=media-md($direction: only)
//  @if ($direction == only)
//    @media screen and (min-width: $md) and (max-width: $lg - 1)
//      @content
//  @else if ($direction == up)
//    @media screen and (min-width: $md)
//      @content
//  @else if ($direction == down)
//    @media screen and (max-width: $lg - 1)
//      @content
//
//=media-sm($direction: only)
//  @if ($direction == only)
//    @media screen and (min-width: $sm) and (max-width: $md - 1)
//      @content
//  @else if ($direction == up)
//    @media screen and (min-width: $sm)
//      @content
//  @else if ($direction == down)
//    @media screen and (max-width: $md - 1)
//      @content
//
//=media-xs($direction: only)
//  @if ($direction == up)
//    @media screen and (min-width: $xs)
//      @content
//  @else if ($direction == down or $direction == only)
//    @media screen and (max-width: $xs - 1)
//      @content
$xl-up: "(min-width: 1318px)"
$xl: "(max-width: 1318px)"
$lg-down: "(max-width: 1317px)"
$lg-up: "(min-width: 1155px)"
$lg: "(max-width: 1155px)"
$md-up: "(min-width: 840px)"
$md: "(max-width: 840px)"
$md-down: "(max-width: 1154px)"
$sm-up: "(min-width: 576px)"
$sm: "(max-width: 576px)"
$xs: "(max-width: 575px)"

.container
  display: flex
  flex-grow: 1
  flex-wrap: wrap
  margin:
    left: auto
    right: auto
  @media screen and #{$xl-up}
    max-width: 1252px
  @media screen and #{$lg-down}
    max-width: 95%
  @media screen and #{$md-down}
    max-width: 100%
    padding: 0 2.5%
.main-page
  width: 100%
  min-width: 320px
.unit
  width: 100%
  &--00
    background: url('../images/cases/fit2u/bg00.jpg') no-repeat right bottom #cc40ee
    background-size: auto 100%
    //background: linear-gradient( 180deg, rgb(230,78,244) 0%, rgb(164,38,230) 100%),
  //background: url('../images/cases/fit2u/bg00.jpg') no-repeat right bottom ,linear-gradient( 180deg, rgb(230,78,244) 0%, rgb(164,38,230) 100%)

    //url('../images/cases/fit2u/bg00.jpg') no-repeat
    //background-image: linear-gradient( 180deg, rgb(230,78,244) 0%, rgb(164,38,230) 100%)
    //background-repeat: no-repeat
    //background-position:

  &--001
    min-height: 720px
    background: url('../images/cases/fit2u/bg001.png') no-repeat
    background-size: 100% 100%


.unit__block
  margin-top: 20px
  margin-bottom: 20px
  width: 50%
  min-height: 40px
  ///

