// 10px
$baseFontSize: 62.5%
//
//=media-xl($direction: only)
//  @if ($direction == up or $direction == only)
//    @media screen and (min-width: $xl)
//      @content
//  @else if ($direction == down)
//    @media screen and (max-width: $xl - 1)
//      @content
//
//=media-lg($direction: only)
//  @if ($direction == only)
//    @media screen and (min-width: $lg) and (max-width: $xl - 1)
//      @content
//  @else if ($direction == up)
//    @media screen and (min-width: $lg)
//      @content
//  @else if ($direction == down)
//    @media screen and (max-width: $xl - 1)
//      @content
//
//=media-md($direction: only)
//  @if ($direction == only)
//    @media screen and (min-width: $md) and (max-width: $lg - 1)
//      @content
//  @else if ($direction == up)
//    @media screen and (min-width: $md)
//      @content
//  @else if ($direction == down)
//    @media screen and (max-width: $lg - 1)
//      @content
//
//=media-sm($direction: only)
//  @if ($direction == only)
//    @media screen and (min-width: $sm) and (max-width: $md - 1)
//      @content
//  @else if ($direction == up)
//    @media screen and (min-width: $sm)
//      @content
//  @else if ($direction == down)
//    @media screen and (max-width: $md - 1)
//      @content
//
//=media-xs($direction: only)
//  @if ($direction == up)
//    @media screen and (min-width: $xs)
//      @content
//  @else if ($direction == down or $direction == only)
//    @media screen and (max-width: $xs - 1)
//      @content
$xl-up: "(min-width: 1318px)"
$xl: "(max-width: 1318px)"
$lg-down: "(max-width: 1317px)"
$lg-up: "(min-width: 1155px)"
$lg: "(max-width: 1155px)"
$md-up: "(min-width: 840px)"
$md: "(max-width: 840px)"
$md-down: "(max-width: 1154px)"
$sm-up: "(min-width: 576px)"
$sm: "(max-width: 576px)"
$xs: "(max-width: 575px)"

.container
  display: flex
  flex-grow: 1
  flex-wrap: wrap
  align-items: flex-start
  margin:
    left: auto
    right: auto
  @media screen and #{$xl-up}
    max-width: 1252px
  @media screen and #{$lg-down}
    max-width: 95%
  @media screen and #{$md-down}
    max-width: 100%
    padding: 0 2.5%

.visualy-hidden
  position: absolute
  width: 1px
  height: 1px
  margin: -1px
  padding: 0
  border: 0
  clip: rect(0 0 0 0)
  overflow: hidden

.main-page
  width: 100%
  min-width: 320px
.trigon
  position: absolute
  top: 0
  left: 0
  display: block
  color: #d898aa
  //border: 14px solid transparent
  //border-bottom: 23px solid #d898aa
  &--90
    transform: rotate(90deg)
  &--45
    transform: rotate(45deg)
  &--m45
    transform: rotate(-45deg)
.unit
  width: 100%

.unit__block
  position: relative
  width: 50%

//
//background: linear-gradient( 180deg, rgb(230,78,244) 0%, rgb(164,38,230) 100%),
//background: url('../images/cases/fit2u/bg00.jpg') no-repeat right bottom ,linear-gradient( 180deg, rgb(230,78,244) 0%, rgb(164,38,230) 100%)
//background-size: auto 100%
//url('../images/cases/fit2u/bg00.jpg') no-repeat
//background-image: linear-gradient( 180deg, rgb(230,78,244) 0%, rgb(164,38,230) 100%)
//background-repeat: no-repeat
//background-position:
.unit--00
  background: url('../images/cases/fit2u/bg00.jpg') no-repeat right bottom #cc40ee
  background-size: auto 100%

  .unit__img00
    position: absolute
    display: block
    top: 0
    right: 7%

  .unit__link
    display: inline-block
    margin-top: 44px
    font-size: 30px
    color: #fff
    text-decoration: none
    & span
      border-bottom: 1px solid #fff

    & .sprite_ms-link_1
      margin-right: 15px

  .unit__descr
    margin-bottom: 40px
    font-size: 22px
    color: #fff

  .unit__attainment
    position: relative
    font-size: 42px
    color: #fff
    margin-bottom: 60px

    &:after
      content: ""
      position: absolute
      top: 20px
      left: -160px
      width: 110px
      height: 6px
      background: #fff
  .unit__task
    position: relative
    &-corner
      width: 25px
      height: 25px
      border-top: 6px solid #fff
      border-left: 6px solid #fff
      margin-bottom: 55px
    & span
      position: relative
      display: block
      margin-bottom: 160px
      font-size: 36px
      z-index: 2

    &-lst
      position: absolute
      z-index: 1
      top: 31px
      right: 0
      width: 90%
      margin: 0
      padding-top: 50px
      padding-bottom: 50px
      padding-left: 96px
      padding-right: 2.5%
      background-color: #fff
      color: #131313
      font-size: 18px
      border-right: 6px solid #fcd82f
      box-shadow: 0px 0px 122px 0px rgba(0, 1, 2, 0.13)
    li
      position: relative
      padding-left: 42px
      margin: 0 0 22px 0
.unit--001
  position: relative
  background: url('../images/cases/fit2u/bg00_1.png') no-repeat
  background-size: 100% 100%

  .unit__block
    padding-right: 2.5%
  h3
   margin-top: 65px
   font-size: 24px
   color: #000
  .unit__idea
    margin-top: 55px
    margin-bottom: 42px
    font-size: 14px
    color: #272727
    span
      font-size: 18px
      color: #e93f3f

  .palette
    display: flex
    flex-wrap: wrap
    flex-grow: 1
    align-items: flex-start
    margin-top: 42px
    margin-bottom: 100px
    font-size: 14px
    color: #000

  .palette-item
    display: flex
    height: 85px
    width: 85px
    align-items: center
    justify-content: center
    box-shadow: 0px 28px 35px 0px rgba(55, 55, 55, 0.24)
    &:not(:last-child)
      margin-right: 26px
    &--yellow
      background-color: #fcd82f
    &--green
      background-color: #35b056
      color: #fff
    &--black
      background-color: #1e0f00
      color: #fff
    &--grey
      background-color: #f4f4f4
    &--white
      background-color: #ffffff

  .unit__blk-title
    position: relative
    font-size: 48px
    color: #000
    margin-top: 150px
    padding-left: 10%
    &:after
      content: ""
      position: absolute
      top: 20px
      left: 0
      width: 30px
      height: 3px
      background: #35b056

  .unit__brand
    position: absolute
    z-index: 1
    width: 200%
    //margin-left: 53%
    background-image: linear-gradient( 2deg, rgb(253,217,47) 0%, rgb(238,125,57) 100%)
    top: 280px
    min-height: 470px
    //


.unit--01
  min-height: 720px
  background-color: cornflowerblue





















