// 10px
$baseFontSize: 62.5%
//
//=media-xl($direction: only)
//  @if ($direction == up or $direction == only)
//    @media screen and (min-width: $xl)
//      @content
//  @else if ($direction == down)
//    @media screen and (max-width: $xl - 1)
//      @content
//
//=media-lg($direction: only)
//  @if ($direction == only)
//    @media screen and (min-width: $lg) and (max-width: $xl - 1)
//      @content
//  @else if ($direction == up)
//    @media screen and (min-width: $lg)
//      @content
//  @else if ($direction == down)
//    @media screen and (max-width: $xl - 1)
//      @content
//
//=media-md($direction: only)
//  @if ($direction == only)
//    @media screen and (min-width: $md) and (max-width: $lg - 1)
//      @content
//  @else if ($direction == up)
//    @media screen and (min-width: $md)
//      @content
//  @else if ($direction == down)
//    @media screen and (max-width: $lg - 1)
//      @content
//
//=media-sm($direction: only)
//  @if ($direction == only)
//    @media screen and (min-width: $sm) and (max-width: $md - 1)
//      @content
//  @else if ($direction == up)
//    @media screen and (min-width: $sm)
//      @content
//  @else if ($direction == down)
//    @media screen and (max-width: $md - 1)
//      @content
//
//=media-xs($direction: only)
//  @if ($direction == up)
//    @media screen and (min-width: $xs)
//      @content
//  @else if ($direction == down or $direction == only)
//    @media screen and (max-width: $xs - 1)
//      @content
$xl-up: "(min-width: 1318px)"
$xl: "(max-width: 1318px)"
$lg-down: "(max-width: 1317px)"
$lg-up: "(min-width: 1155px)"
$lg: "(max-width: 1155px)"

$md-down: "(max-width: 1154px)"
$md-up: "(min-width: 840px)"
$md: "(max-width: 840px)"

$sm-down: "(max-width: 839px)"
$sm-up: "(min-width: 576px)"
$sm: "(max-width: 576px)"

$xs: "(max-width: 575px)"



.container
  display: flex
  flex-grow: 1
  flex-wrap: wrap
  align-items: flex-start
  margin:
    left: auto
    right: auto
  @media screen and #{$xl-up}
    max-width: 1252px
  @media screen and #{$lg-down}
    max-width: 95%
  @media screen and #{$md-down}
    max-width: 100%
    padding: 0 2.5%

.visualy-hidden
  position: absolute
  width: 1px
  height: 1px
  margin: -1px
  padding: 0
  border: 0
  clip: rect(0 0 0 0)
  overflow: hidden

.main-page
  width: 100%
  min-width: 320px
//overflow: hidden

.btn-fit
  text-align: center
  transition: background-color .3s ease, color .3s ease
  font-family: "ProximaNova", sans-serif
  display: table
  background-color: #fff
  color: #212121
  font-size: 18px
  line-height: 1.2
  padding: 18px 54px
  padding: 1em 3em
  border-radius: 54px
  border-radius: 3em
  transition: all .6s ease
  &:hover,&:focus
    background-color: #f3f3f3
    cursor: pointer

//@include em-fallback('padding', 0, 3)
//@include em-fallback('height', 3)

.trigon
  position: absolute
  top: 0
  left: 0
  display: block
  color: #d898aa
  //border: 14px solid transparent
  //border-bottom: 23px solid #d898aa
  &--90
    transform: rotate(90deg)
  &--45
    transform: rotate(45deg)
  &--m45
    transform: rotate(-45deg)

.unit
  width: 100%

.unit__block
  position: relative
  width: 50%

//

.unit--00
  background: url('../images/cases/fit2u/bg00.jpg') no-repeat right bottom #cc40ee
  background-size: auto 100%

  .unit__img00
    position: absolute
    z-index: 1
    display: block
    top: 0
    right: 7%

  .unit__link
    display: inline-block
    margin-top: 44px
    font-size: 30px
    color: #fff
    text-decoration: none
    & span
      border-bottom: 1px solid #fff

    & .sprite_ms-link_1
      margin-right: 15px

  .unit__descr
    margin-bottom: 40px
    font-size: 22px
    color: #fff

  .unit__attainment
    position: relative
    font-size: 42px
    color: #fff
    margin-bottom: 60px

    &:after
      content: ""
      position: absolute
      top: 20px
      left: -160px
      width: 110px
      height: 6px
      background: #fff
  .unit__task
    position: relative
    &-corner
      width: 25px
      height: 25px
      border-top: 6px solid #fff
      border-left: 6px solid #fff
      margin-bottom: 55px
    & span
      position: relative
      display: block
      margin-bottom: 160px
      font-size: 36px
      z-index: 2

    &-lst
      position: absolute
      z-index: 1
      top: 31px
      right: 0
      width: 90%
      margin: 0
      padding-top: 50px
      padding-bottom: 50px
      padding-left: 96px
      padding-right: 2.5%
      background-color: #fff
      color: #131313
      font-size: 18px
      border-right: 6px solid #fcd82f
      box-shadow: 0px 0px 122px 0px rgba(0, 1, 2, 0.13)
    li
      position: relative
      padding-left: 42px
      margin: 0 0 22px 0
  //@media screen and #{$lg-down}
  //  .unit__img00
  //    position: static
  //    max-width: 100%
  //    height: auto
  @media screen and #{$md-down}
    background: #cc40ee linear-gradient(180deg, rgb(230, 78, 244) 0%, rgb(164, 38, 230) 100%)
    .unit__block--1
      width: 100%
    .unit__img00
      position: static
      max-width: 100%
      height: auto
    //display: none
    .unit__block--2
      width: 100%
  @media screen and #{$sm-down}
    background: #cc40ee

    .unit__task
      span
        margin-bottom: 12px
      &-corner
        margin-bottom: 12px
      &-lst
        position: static
        z-index: 0
        top: 0
        right: 0
        width: 100%
        margin: 0
        padding-top: 50px
        padding-bottom: 50px
        padding-left: 2.5%
        padding-right: 2.5%
        background-color: #fff
        color: #131313
        font-size: 18px
        border-right: 6px solid #fcd82f
        border-bottom: 6px solid #fcd82f
        box-shadow: none

.unit--001
  position: relative
  background: url('../images/cases/fit2u/bg00_1.png') no-repeat
  background-size: 100% 100%
  //overflow-x: hidden
  //overflow-y: visible

  .unit__block
    padding-right: 2.5%
  h3
    margin-top: 65px
    font-size: 24px
    color: #000
  .unit__idea
    margin-top: 55px
    margin-bottom: 42px
    font-size: 14px
    color: #272727
    span
      font-size: 18px
      color: #e93f3f
  .unit__img
    max-width: 100%
    height: auto
  .palette
    display: flex
    flex-wrap: wrap
    flex-grow: 1
    align-items: flex-start
    margin-top: 30px
    margin-bottom: 100px
    font-size: 14px
    color: #000

  .palette-item
    display: flex
    height: 85px
    width: 85px
    align-items: center
    justify-content: center
    box-shadow: 0px 28px 35px 0px rgba(55, 55, 55, 0.24)
    margin-top: 12px
    &:not(:last-child)
      margin-right: 26px
    &--yellow
      background-color: #fcd82f
    &--green
      background-color: #35b056
      color: #fff
    &--black
      background-color: #1e0f00
      color: #fff
    &--grey
      background-color: #f4f4f4
    &--white
      background-color: #ffffff

  .unit__blk-title
    position: relative
    font-size: 48px
    color: #000
    margin-top: 150px
    padding-left: 10%
    &:after
      content: ""
      position: absolute
      top: 20px
      left: 0
      width: 30px
      height: 3px
      background: #35b056

  .unit__brand-full
    position: absolute
    z-index: 1
    width: calc(50% - 60px)
    min-height: 470px
    background-image: linear-gradient(92deg, rgb(253, 217, 47) 0%, rgb(238, 125, 57) 100%)
    right: 0
    bottom: -35px

    p
      font-size: 20px
      line-height: 24px
      color: #a4511e
    span
      font-size: 30px
  .unit__blk-content
    max-width: 482px
    padding: 80px
    padding-right: 12px

  @media screen and #{$md-down}
    background: #f3f3f3

    .unit__block
      width: 100%
    .unit__idea
      font-size: 16px
    .palette-item
      &:not(:last-child)
        margin-right: 12px
    .unit__blk-title
      margin-top: 0
    .unit__brand-full
      position: static
      z-index: 0
      width: 100%
  @media screen and #{$sm}
    .unit__blk-content
      max-width: 100%
      padding-left: 4%
      padding-right: 2.5%

.unit--01
  position: relative
  background: #a426e6 linear-gradient(-90deg, rgb(78, 156, 244) 0%, rgb(164, 38, 230) 100%) no-repeat, #fff
  background-size: 100% 1632px
  .unit__title
    position: relative
    width: 100%
    margin-top: 60px
    text-align: center
    color: #fff
    &-bck
      margin: 0
      font-size: 159px
      color: #6256be
    &-bck--2
      font-size: 130px

    h2
      position: absolute
      bottom: 19px
      text-align: center
      width: 100%
      font-size: 68px

    .unit__txt
      position: absolute
      bottom: 6px
      text-align: center
      width: 100%
      font-size: 18px
      span
        font-size: 36px
        line-height: 50px

  .unit_descr
    margin-top: 55px
    padding: 0 193px
    color: #ffffff
    text-align: center

  .unit__wrap
    position: relative
    width: 100%
    display: flex
    flex-grow: 1
    align-items: flex-start
    justify-content: center
    margin-top: 75px

  .unit__image0
    max-width: 1108px
    box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.27)
    //margin: 0 auto
    .unit__img0
      width: 100%
      height: auto

  .unit__image
    position: absolute
    z-index: 1
    box-shadow: 0 61px 65px 0px rgba(0, 0, 0, 0.31)
    &--1
      left: 0
      top: 380px
      width: 690/1252*100%
    &--2
      right: 0
      top: 990px
      width: 585/1252*100%
    &--3
      right: 0
      bottom: 1470px
      width: 725/1252*100%
    &--4
      left: 0
      bottom: 804px
      width: 451/1252*100%
      box-shadow: none
    img
      width: 100%
      height: auto
  .unit__img-full
    position: absolute
    bottom: 0
    right: 0
    display: block
    z-index: 1

  @media screen and #{$md-down}
    .unit_descr
      padding: 0 2.5%
    .unit__title
      h2
        font-size: 42px
    .unit__image--4
      bottom: 280px
    .unit__img-full, .unit__image--2, .unit__image--3
      display: none
  @media screen and #{$xs}
    .unit__title-bck--2
      font-size: 120px
    .unit__image--1
      top: 180px
//      02
//
//background: linear-gradient( 180deg, rgb(230,78,244) 0%, rgb(164,38,230) 100%),
//background: url('../images/cases/fit2u/bg00.jpg') no-repeat right bottom ,linear-gradient( 180deg, rgb(230,78,244) 0%, rgb(164,38,230) 100%)
//background-size: auto 100%
//url('../images/cases/fit2u/bg00.jpg') no-repeat
//background-image: linear-gradient( 180deg, rgb(230,78,244) 0%, rgb(164,38,230) 100%)
//background-repeat: no-repeat
//background-position:
.unit--02-1
  background:
    image: url('../images/cases/fit2u/men.png'),linear-gradient(90deg, rgb(253, 217, 47) 0%, rgb(238, 125, 57) 100%)
    position: left bottom
    repeat: no-repeat
    color: #fdd92f
    size: 41% auto ,100% 100%
  .container
    position: relative
    justify-content: space-between

  .unit__block
    display: flex
    align-items: flex-start
    flex-wrap: wrap
    flex-grow: 1

  .unit__block--1
    width:  915/1252*100%

  .unit__title
    position: relative
    width: 100%
    margin-top: 70px
    text-align: left
    color: #fff
    &-bck
      margin: 0
      font-size: 159px
      color: #f08c37

    h2
      position: absolute
      bottom: -15px
      left: 97/915*100%
      font-size: 52px
      line-height: 1.4

  .unit_descr
    margin-top: 45px
    padding-left:  97/915*100%
    padding-right:  48/915*100%
    color: #ffffff
    line-height: 1.4

  .unit__img1
    position: absolute
    z-index: 1
    width: 888/1252*100%
    height: auto
    left: 0
    bottom: -85/1252*100%

  .unit__block--2
    width: 296/1252*100%
    color: #ffffff
    padding-top: 190/1252*100%
    padding-bottom: 595/1252*100%

  h3
    font-size: 36px
    //margin-top: 190px
    margin-bottom: 53px

  .unit__lst
    width: 100%
    padding: 0
    margin: 0
    li
      position: relative
      padding-left: 34px
      margin: 0 0 32px 0
      i
        color: #d96221

  .unit__img2
    position: absolute
    z-index: 1
    width: 100%
    height: auto
    left: 0
    bottom: -155/1252*100%
    box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.31)

  @media screen and (max-width: 1600px)
    background: #fdd92f linear-gradient(90deg, rgb(253, 217, 47) 0%, rgb(238, 125, 57) 100%)
  @media screen and #{$sm-down}
    .unit__block--1
      width: 100%
    .unit__block--2
      width: 100%
      padding: 0
      order: 2

    .unit__img1
      position: static
      width: 888/1252*100%
      height: auto
      left: 0
      bottom: -85/1252*100%
      order: 1
    .unit__title h2
      font-size: 37px
    .unit__img2
      display: none

.unit--02-2
  .unit__background
    background:
      image: url('../images/cases/fit2u/bg00.jpg'),none
      repeat: no-repeat, no-repeat
      position: right top,0 0
      color: #f6f6f6
      size: 47.5% 100% ,100% 100%
    //background: url('../images/cases/fit2u/123.jpg') no-repeat right bottom #cc40ee
    //background-size: auto 100%
  .unit__block
    display: flex
    align-items: flex-start
    flex-wrap: wrap
    flex-grow: 1
    &--1
      width: 53.8%
      padding-top: 124/1252*100%
      h3
        font-size: 42px
        padding-right: 48/674*100%
    &--2
      position: relative
      width: 46.2%
      padding-top: 256/1252*100%
      padding-bottom: 350/1252*100%


  .unit__descr
    margin-top: 44px
    margin-bottom: 60px
    padding-left: 34/674*100%
    padding-right: 48/674*100%
    border-left: 6px solid #35b056
    line-height: 24px
  .unit__img1
    max-width: 100%
    height: auto
    box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.31)
    z-index: 1

  .unit__lst
    width: 100%
    padding: 0
    margin: 0
    margin-left: 96/578*100%
    li
      position: relative
      padding-left: 38px
      margin: 0 0 26px 0
      font-size: 18px
      color: #ffffff
      i
        color: #fff

  .unit__img2
    position: absolute
    width: 680/578*100%
    height: auto
    right: 0
    bottom: -100/578*100%
    box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.31)
  @media screen and (max-width: 1600px)
    .unit__background
      background: #35b056 linear-gradient(90deg, #f9f9f9 52.5%, #35b056 52.5%)

  @media screen and #{$sm-down}
    .unit__background
      background: #f9f9f9
    .unit__block--1
      width: 100%
    .unit__block--2
      width: 100%
      background: #35b056

    .unit__lst
      margin-left: 12px
    .unit__img2
      position: static
      max-width: 100%
      height: auto


































