.container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (min-width: 1318px) {
    .container {
      max-width: 1252px; } }
  @media screen and (max-width: 1317px) {
    .container {
      max-width: 95%; } }
  @media screen and (max-width: 1154px) {
    .container {
      max-width: 100%;
      padding: 0 2.5%; } }

.visualy-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

.main-page {
  width: 100%;
  min-width: 320px; }
  .main-page p, .main-page ul {
    font-size: 16px;
    line-height: 1.2;
    font-family: "ProximaNova", sans-serif; }
  .main-page img {
    max-width: 100%;
    height: auto; }

.btn-fit {
  text-align: center;
  transition: background-color .3s ease, color .3s ease;
  font-family: "ProximaNova", sans-serif;
  display: table;
  background-color: #fff;
  color: #212121;
  font-size: 18px;
  line-height: 1.2;
  padding: 18px 54px;
  padding: 1em 3em;
  border-radius: 54px;
  border-radius: 3em;
  transition: all .6s ease;
  outline: none;
  border: none; }
  .btn-fit:hover, .btn-fit:focus {
    background-color: #f3f3f3;
    cursor: pointer; }

.trigon {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  color: #d898aa; }
  .trigon--90 {
    transform: rotate(90deg); }
  .trigon--45 {
    transform: rotate(45deg); }
  .trigon--m45 {
    transform: rotate(-45deg); }

.unit {
  width: 100%; }

.unit__block {
  position: relative;
  width: 50%; }

.unit--00 {
  background: url("../images/cases/fit2u/bg00.jpg") no-repeat right bottom #cc40ee;
  background-size: auto 100%; }
  .unit--00 .unit__img00 {
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    right: 7%; }
  .unit--00 .unit__link {
    display: inline-block;
    margin-top: 44px;
    font-size: 30px;
    color: #fff;
    text-decoration: none; }
    .unit--00 .unit__link span {
      border-bottom: 1px solid #fff; }
    .unit--00 .unit__link .sprite_ms-link_1 {
      margin-right: 15px; }
  .unit--00 .unit__descr {
    margin-bottom: 40px;
    font-size: 22px;
    color: #fff; }
  .unit--00 .unit__attainment {
    position: relative;
    font-size: 42px;
    color: #fff;
    margin-bottom: 60px; }
    .unit--00 .unit__attainment:after {
      content: "";
      position: absolute;
      top: 20px;
      left: -160px;
      width: 110px;
      height: 6px;
      background: #fff; }
  .unit--00 .unit__task {
    position: relative; }
    .unit--00 .unit__task-corner {
      width: 25px;
      height: 25px;
      border-top: 6px solid #fff;
      border-left: 6px solid #fff;
      margin-bottom: 55px; }
    .unit--00 .unit__task span {
      position: relative;
      display: block;
      margin-bottom: 160px;
      font-size: 36px;
      z-index: 2; }
    .unit--00 .unit__task-lst {
      position: absolute;
      z-index: 1;
      top: 31px;
      right: 0;
      width: 90%;
      margin: 0;
      padding-top: 50px;
      padding-bottom: 50px;
      padding-left: 96px;
      padding-right: 2.5%;
      background-color: #fff;
      color: #131313;
      font-size: 18px;
      border-right: 6px solid #fcd82f;
      box-shadow: 0px 0px 122px 0px rgba(0, 1, 2, 0.13); }
    .unit--00 .unit__task li {
      position: relative;
      padding-left: 42px;
      margin: 0 0 22px 0; }
  @media screen and (max-width: 1154px) {
    .unit--00 {
      background: #cc40ee linear-gradient(180deg, #e64ef4 0%, #a426e6 100%); }
      .unit--00 .unit__block--1 {
        width: 100%; }
      .unit--00 .unit__img00 {
        position: static;
        max-width: 100%;
        height: auto; }
      .unit--00 .unit__block--2 {
        width: 100%; } }
  @media screen and (max-width: 839px) {
    .unit--00 {
      background: #cc40ee; }
      .unit--00 .unit__task span {
        margin-bottom: 12px; }
      .unit--00 .unit__task-corner {
        margin-bottom: 12px; }
      .unit--00 .unit__task-lst {
        position: static;
        z-index: 0;
        top: 0;
        right: 0;
        width: 100%;
        margin: 0;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 2.5%;
        padding-right: 2.5%;
        background-color: #fff;
        color: #131313;
        font-size: 18px;
        border-right: 6px solid #fcd82f;
        border-bottom: 6px solid #fcd82f;
        box-shadow: none; } }

.unit--001 {
  position: relative;
  background: url("../images/cases/fit2u/bg001.png") no-repeat;
  background-size: 100% 100%; }
  .unit--001 .unit__block {
    padding-right: 2.5%; }
  .unit--001 h3 {
    margin-top: 65px;
    font-size: 24px;
    color: #000; }
  .unit--001 .unit__idea {
    margin-top: 55px;
    margin-bottom: 42px;
    font-size: 14px;
    color: #272727; }
    .unit--001 .unit__idea span {
      font-size: 18px;
      color: #e93f3f; }
  .unit--001 .unit__img {
    max-width: 100%;
    height: auto; }
  .unit--001 .palette {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-top: 30px;
    margin-bottom: 100px;
    font-size: 14px;
    color: #000; }
  .unit--001 .palette-item {
    display: -ms-flexbox;
    display: flex;
    height: 85px;
    width: 85px;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    box-shadow: 0px 28px 35px 0px rgba(55, 55, 55, 0.24);
    margin-top: 12px; }
    .unit--001 .palette-item:not(:last-child) {
      margin-right: 26px; }
    .unit--001 .palette-item--yellow {
      background-color: #fcd82f; }
    .unit--001 .palette-item--green {
      background-color: #35b056;
      color: #fff; }
    .unit--001 .palette-item--black {
      background-color: #1e0f00;
      color: #fff; }
    .unit--001 .palette-item--grey {
      background-color: #f4f4f4; }
    .unit--001 .palette-item--white {
      background-color: #ffffff; }
  .unit--001 .unit__blk-title {
    position: relative;
    font-size: 48px;
    color: #000;
    margin-top: 150px;
    padding-left: 10%; }
    .unit--001 .unit__blk-title:after {
      content: "";
      position: absolute;
      top: 20px;
      left: 0;
      width: 30px;
      height: 3px;
      background: #35b056; }
  .unit--001 .unit__brand-full {
    position: absolute;
    z-index: 1;
    width: calc(50% - 60px);
    min-height: 470px;
    background-image: linear-gradient(92deg, #fdd92f 0%, #ee7d39 100%);
    right: 0;
    bottom: -35px; }
    .unit--001 .unit__brand-full p {
      font-size: 20px;
      line-height: 24px;
      color: #a4511e; }
    .unit--001 .unit__brand-full span {
      font-size: 30px; }
  .unit--001 .unit__blk-content {
    max-width: 482px;
    padding: 80px;
    padding-right: 12px; }
  @media screen and (max-width: 1154px) {
    .unit--001 {
      background: #f3f3f3; }
      .unit--001 .unit__block {
        width: 100%; }
      .unit--001 .unit_h3 {
        margin-top: 100px; }
      .unit--001 .unit__idea {
        font-size: 16px; }
      .unit--001 .palette-item:not(:last-child) {
        margin-right: 12px; }
      .unit--001 .unit__blk-title {
        margin-top: 0; }
      .unit--001 .unit__brand-full {
        position: static;
        z-index: 0;
        width: 100%; } }
  @media screen and (max-width: 576px) {
    .unit--001 .unit_h3 {
      margin-top: 65px; }
    .unit--001 .unit__blk-content {
      max-width: 100%;
      padding-left: 4%;
      padding-right: 2.5%; } }

.unit--01 {
  position: relative;
  background: #a426e6 linear-gradient(-90deg, #4e9cf4 0%, #a426e6 100%) no-repeat, #fff;
  background-size: 100% 1632px; }
  .unit--01 .unit__title {
    position: relative;
    width: 100%;
    margin-top: 60px;
    text-align: center;
    color: #fff; }
    .unit--01 .unit__title-bck {
      margin: 0;
      font-size: 159px;
      color: #6256be; }
    .unit--01 .unit__title-bck--2 {
      font-size: 130px; }
    .unit--01 .unit__title h2 {
      position: absolute;
      bottom: 19px;
      text-align: center;
      width: 100%;
      font-size: 68px; }
    .unit--01 .unit__title .unit__txt {
      position: absolute;
      bottom: 6px;
      text-align: center;
      width: 100%;
      font-size: 18px; }
      .unit--01 .unit__title .unit__txt span {
        font-size: 36px;
        line-height: 50px; }
  .unit--01 .unit_descr {
    margin-top: 55px;
    padding: 0 193px;
    color: #ffffff;
    text-align: center; }
  .unit--01 .unit__wrap {
    position: relative;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 75px; }
  .unit--01 .unit__image0 {
    max-width: 1108px;
    box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.27); }
    .unit--01 .unit__image0 .unit__img0 {
      width: 100%;
      height: auto; }
  .unit--01 .unit__image {
    position: absolute;
    z-index: 1;
    box-shadow: 0 61px 65px 0px rgba(0, 0, 0, 0.31); }
    .unit--01 .unit__image--1 {
      left: 0;
      top: 380px;
      width: 55.11182%; }
    .unit--01 .unit__image--2 {
      right: 0;
      top: 990px;
      width: 46.72524%; }
    .unit--01 .unit__image--3 {
      right: 0;
      bottom: 1470px;
      width: 57.90735%; }
    .unit--01 .unit__image--4 {
      left: 0;
      bottom: 804px;
      width: 36.02236%;
      box-shadow: none; }
    .unit--01 .unit__image img {
      width: 100%;
      height: auto; }
  .unit--01 .unit__img-full {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    z-index: 1; }
  @media screen and (max-width: 1154px) {
    .unit--01 .unit_descr {
      padding: 0 2.5%; }
    .unit--01 .unit__title h2 {
      font-size: 42px; }
    .unit--01 .unit__image--4 {
      bottom: 280px; }
    .unit--01 .unit__img-full, .unit--01 .unit__image--2, .unit--01 .unit__image--3 {
      display: none; } }
  @media screen and (max-width: 575px) {
    .unit--01 .unit__title-bck--2 {
      font-size: 120px; }
    .unit--01 .unit__image--1 {
      top: 180px; } }

.unit--02-1 {
  background-image: url("../images/cases/fit2u/men.png"), linear-gradient(90deg, #fdd92f 0%, #ee7d39 100%);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-color: #fdd92f;
  background-size: 41% auto ,100% 100%; }
  .unit--02-1 .container {
    position: relative;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .unit--02-1 .unit__block {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-positive: 1;
    flex-grow: 1; }
  .unit--02-1 .unit__block--1 {
    width: 73.08307%; }
  .unit--02-1 .unit__title {
    position: relative;
    width: 100%;
    margin-top: 70px;
    text-align: left;
    color: #fff; }
    .unit--02-1 .unit__title-bck {
      margin: 0;
      font-size: 159px;
      color: #f08c37; }
    .unit--02-1 .unit__title h2 {
      position: absolute;
      bottom: -15px;
      left: 10.60109%;
      font-size: 52px;
      line-height: 1.4; }
  .unit--02-1 .unit_descr {
    margin-top: 45px;
    padding-left: 10.60109%;
    padding-right: 5.2459%;
    color: #ffffff;
    line-height: 1.4; }
  .unit--02-1 .unit__img1 {
    position: absolute;
    z-index: 1;
    width: 70.92652%;
    height: auto;
    left: 0;
    bottom: -6.78914%; }
  .unit--02-1 .unit__block--2 {
    width: 23.64217%;
    color: #ffffff;
    padding-top: 15.17572%;
    padding-bottom: 47.52396%; }
  .unit--02-1 h3 {
    font-size: 36px;
    margin-bottom: 53px; }
  .unit--02-1 .unit__lst {
    width: 100%;
    padding: 0;
    margin: 0; }
    .unit--02-1 .unit__lst li {
      position: relative;
      padding-left: 34px;
      margin: 0 0 32px 0; }
      .unit--02-1 .unit__lst li i {
        color: #d96221; }
  .unit--02-1 .unit__img2 {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: auto;
    left: 0;
    bottom: -12.38019%;
    box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.31); }
  @media screen and (max-width: 1600px) {
    .unit--02-1 {
      background: #fdd92f linear-gradient(90deg, #fdd92f 0%, #ee7d39 100%); } }
  @media screen and (max-width: 839px) {
    .unit--02-1 .unit__block--1 {
      width: 100%; }
    .unit--02-1 .unit__block--2 {
      width: 100%;
      padding: 0;
      -ms-flex-order: 2;
      order: 2; }
    .unit--02-1 .unit__img1 {
      position: static;
      width: 70.92652%;
      height: auto;
      left: 0;
      bottom: -6.78914%;
      -ms-flex-order: 1;
      order: 1; }
    .unit--02-1 .unit__title h2 {
      font-size: 37px; }
    .unit--02-1 .unit__img2 {
      display: none; } }

.unit--02-2 .unit__background {
  background-image: url("../images/cases/fit2u/bg02.jpg"), linear-gradient(90deg, #f9f9f9 52.5%, #35b056 52.5%);
  background-repeat: no-repeat, no-repeat;
  background-position: right top,0 0;
  background-color: #35b056;
  background-size: contain, 100% 100%; }

.unit--02-2 .unit__block {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-positive: 1;
  flex-grow: 1; }
  .unit--02-2 .unit__block--1 {
    width: 53.8%;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    background-color: #f6f6f6;
    padding-top: 9.90415%; }
    .unit--02-2 .unit__block--1 h3 {
      font-size: 42px;
      padding-right: 7.12166%; }
  .unit--02-2 .unit__block--2 {
    position: relative;
    width: 46.2%;
    padding-top: 20.44728%;
    padding-bottom: 27.95527%; }

.unit--02-2 .unit__descr {
  margin-top: 44px;
  margin-bottom: 60px;
  padding-left: 5.04451%;
  padding-right: 7.12166%;
  border-left: 6px solid #35b056;
  font-size: 16px;
  line-height: 24px; }

.unit--02-2 .unit__img1 {
  max-width: 100%;
  height: auto;
  box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.31);
  z-index: 1; }

.unit--02-2 .unit__lst {
  width: 100%;
  padding: 0;
  margin: 0;
  margin-left: 16.609%; }
  .unit--02-2 .unit__lst li {
    position: relative;
    padding-left: 38px;
    margin: 0 0 26px 0;
    font-size: 18px;
    color: #ffffff; }
    .unit--02-2 .unit__lst li i {
      color: #fff; }

.unit--02-2 .unit__img2 {
  position: absolute;
  width: 117.64706%;
  height: auto;
  right: 0;
  bottom: -12.5%;
  box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.31); }

.unit--02-2 .unit__blk-full {
  width: 100%;
  text-align: center; }
  .unit--02-2 .unit__blk-full .container {
    -ms-flex-pack: center;
    justify-content: center; }
  .unit--02-2 .unit__blk-full h4 {
    width: 100%;
    padding-top: 16.77316%;
    font-size: 36px;
    color: #482d2d; }
  .unit--02-2 .unit__blk-full p {
    width: 54.71246%;
    margin: 68px 0;
    color: #96cc4a;
    font-size: 30px;
    text-align: center; }

.unit--02-2 .unit__form {
  width: 100%;
  padding: 76px 0;
  background-color: #ebf5f1; }
  .unit--02-2 .unit__form .container {
    -ms-flex-pack: center;
    justify-content: center; }
  .unit--02-2 .unit__form-title {
    width: 100%;
    font-size: 30px;
    text-align: center;
    color: #482d2d; }
  .unit--02-2 .unit__form-txt {
    width: 77.31629%;
    margin: 45px 0;
    color: #482d2d;
    text-align: center; }

.unit--02-2 .unit__form-form {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: start;
  align-items: flex-start; }
  .unit--02-2 .unit__form-form input {
    width: 48.88179%;
    height: 50px;
    border: 2px solid transparent;
    border-radius: 60px;
    padding: 10px 25px;
    color: #000;
    font-family: "ProximaNova", sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
    box-shadow: 0px 6px 7px 0px rgba(109, 185, 155, 0.13);
    outline: none;
    transition: border-color .3s ease; }
    .unit--02-2 .unit__form-form input:focus, .unit--02-2 .unit__form-form input:active {
      border: 2px solid #96cc4a; }
  .unit--02-2 .unit__form-form .btn-fit {
    margin: 0 auto;
    width: 46.16613%;
    height: 50px;
    padding-left: 0;
    padding-right: 0;
    font-size: 16px;
    color: #ffffff;
    background-color: #96cc4a; }
    .unit--02-2 .unit__form-form .btn-fit:hover, .unit--02-2 .unit__form-form .btn-fit:focus {
      background-color: #ffffff;
      color: #96cc4a; }

@media screen and (max-width: 1154px) {
  .unit--02-2 .unit__background {
    background: #35b056 linear-gradient(90deg, #f9f9f9 52.5%, #35b056 52.5%); }
  .unit--02-2 .unit__form-form {
    -ms-flex-pack: center;
    justify-content: center; }
    .unit--02-2 .unit__form-form input {
      width: 85%; } }

@media screen and (max-width: 839px) {
  .unit--02-2 .unit__background {
    background: #f9f9f9; }
  .unit--02-2 .unit__block--1 {
    width: 100%; }
  .unit--02-2 .unit__block--2 {
    width: 100%;
    background: #35b056; }
  .unit--02-2 .unit__lst {
    margin-left: 12px; }
  .unit--02-2 .unit__img2 {
    position: static;
    max-width: 100%;
    height: auto; }
  .unit--02-2 .unit__blk-full h4 {
    font-size: 32px; }
  .unit--02-2 .unit__blk-full p {
    width: 80%; } }

.unit--03 .unit__title {
  width: 53.8%;
  position: relative;
  margin-top: 67px;
  margin-right: 3.84615%;
  padding-left: 10px;
  text-align: left; }
  .unit--03 .unit__title-bck {
    margin: 0;
    font-size: 159px;
    color: #d5d5d5; }
  .unit--03 .unit__title h2 {
    position: absolute;
    bottom: -29px;
    left: 17.06231%;
    font-size: 68px;
    color: #161616; }

.unit--03 .unit__descr {
  width: 42.30769%;
  margin-top: 12.9393%;
  margin-bottom: 17.17252%;
  margin-right: 0;
  margin-left: auto;
  padding-right: 10px;
  color: #161616;
  line-height: 24px; }

.unit--03 .unit__background {
  background-image: url("../images/cases/fit2u/girl-blue.png"), linear-gradient(-90deg, #4e9cf4 0%, #a426e6 100%);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-color: #a426e6;
  background-size: 27.5% auto, 100% 100%; }

.unit--03 .unit__img1 {
  width: 88.4984%;
  margin-top: -7.98722%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.31); }

.unit--03 .unit_wrap {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-align: start;
  align-items: flex-start; }

.unit--03 .unit__img2 {
  width: 30.76923%;
  margin-top: -5.43131%;
  margin-right: 7.69231%;
  box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.46); }

.unit--03 .unit__lst {
  width: 53.84615%;
  margin-top: 5.59105%;
  margin-bottom: 6.94888%; }
  .unit--03 .unit__lst li {
    position: relative;
    padding-left: 65px;
    margin: 0 0 50px 0;
    font-size: 24px;
    color: #ffffff; }
    .unit--03 .unit__lst li i {
      color: #56b6f3; }

.unit--03 .unit__title3 {
  position: relative;
  font-size: 48px;
  color: #ffffff;
  margin-bottom: 65px;
  padding-left: 67px; }
  .unit--03 .unit__title3:after {
    content: "";
    position: absolute;
    top: 20px;
    left: 0;
    width: 33px;
    height: 5px;
    background: #56b6f3; }

.unit--03 .unit__img3 {
  margin-left: 5.76923%;
  margin-bottom: -15.97444%;
  box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.27); }

.unit--03 .unit__background-grey {
  background-color: #f4f4f4;
  width: 100%;
  padding-top: 255px; }

.unit--03 .unit__img4 {
  width: 76.4377%;
  margin-right: 0;
  margin-left: auto;
  height: auto;
  box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.27); }

.unit--03 .unit__block {
  width: 36.53846%;
  z-index: 1;
  padding-top: 5.59105%;
  padding-left: 5.59105%;
  padding-right: 2.15655%;
  padding-bottom: 7.1885%;
  background: #56b6f3 linear-gradient(-31deg, #4e9cf4 0%, #a426e6 100%);
  color: #ffffff;
  box-shadow: 0px 49px 62px 0px rgba(0, 0, 0, 0.35);
  margin-top: -43.92971%; }
  .unit--03 .unit__block p {
    font-size: 18px;
    line-height: 24px; }

.unit--03 .unit__blk-title {
  font-size: 30px;
  border-left: 4px solid #fff;
  padding-left: 20px;
  margin-bottom: 40px; }

@media screen and (max-width: 1317px) {
  .unit--03 .unit__title h2 {
    font-size: 60px; } }

@media screen and (max-width: 1154px) {
  .unit--03 .unit__title {
    width: 100%; }
    .unit--03 .unit__title h2 {
      bottom: -7px; }
  .unit--03 .unit__descr {
    width: 100%; }
  .unit--03 .unit__background {
    background: #a426e6 linear-gradient(-90deg, #4e9cf4 0%, #a426e6 100%); }
  .unit--03 .unit__img3 {
    margin: 0 auto; }
  .unit--03 .unit__background-grey {
    padding-top: 60px; }
  .unit--03 .unit__block {
    margin-top: -51%; } }

@media screen and (max-width: 839px) {
  .unit--03 .unit__title h2 {
    font-size: 32px;
    bottom: 5px; }
  .unit--03 .unit__img4 {
    -ms-flex-order: 1;
    order: 1;
    width: 100%;
    margin: 0 auto;
    box-shadow: none; }
  .unit--03 .unit__block {
    width: 100%;
    box-shadow: none;
    margin-top: 0; } }

@media screen and (max-width: 575px) {
  .unit--03 .unit__img1 {
    width: 100%;
    margin-top: -7.98722%;
    box-shadow: none; }
  .unit--03 .unit__img2 {
    width: 75%;
    margin-top: 20px;
    margin-right: 0;
    box-shadow: none; }
  .unit--03 .unit__lst {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 60px; } }

.unit--04 .unit__background-grey {
  background-color: #f4f4f4;
  width: 100%; }

.unit--04 .container--background {
  -ms-flex-pack: center;
  justify-content: center; }

.unit--04 .unit__wrap-back {
  width: 100%;
  margin-bottom: -11.34185%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: start;
  align-items: flex-start;
  background-image: url("../images/cases/fit2u/bg04.jpg"), linear-gradient(-90deg, #dc8de7 0%, #aa63ce 100%);
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-color: #aa63ce;
  background-size: 100% auto ,100% 100%; }

.unit--04 .unit__block {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-bottom: 40px; }

.unit--04 .unit__title {
  position: relative;
  width: 61.53846%;
  margin-top: 60px;
  margin-left: 5.76923%;
  padding-right: 12px;
  color: #fff; }
  .unit--04 .unit__title-bck {
    margin: 0;
    font-size: 159px;
    color: #9b51b3; }
  .unit--04 .unit__title h2 {
    position: absolute;
    left: 92px;
    bottom: 19px;
    font-size: 68px; }

.unit--04 .unit_descr {
  width: 26.92308%;
  margin-bottom: 30px;
  color: #ffffff; }

.unit--04 .unit__img0 {
  width: 85.94249%;
  margin-bottom: -15.65495%; }

.unit--04 .unit__blk-full {
  width: 100%; }

@media screen and (min-width: 1318px) {
  .unit--04 .container--1828 {
    max-width: 1828px; } }

.unit--04 .unit__wrap-img {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%;
  margin-top: 420px;
  margin-bottom: -336px; }
  @media screen and (min-width: 1318px) {
    .unit--04 .unit__wrap-img {
      -ms-flex-direction: column;
      flex-direction: column;
      height: 850px; } }
  @media screen and (min-width: 1740px) {
    .unit--04 .unit__wrap-img {
      -ms-flex-direction: column;
      flex-direction: column;
      height: 970px; } }
  @media screen and (max-width: 1317px) {
    .unit--04 .unit__wrap-img {
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin-top: 35%;
      margin-bottom: -10%; } }
  .unit--04 .unit__wrap-img img {
    display: block;
    box-shadow: 8px 0px 65px 0px rgba(0, 0, 0, 0.27); }

.unit--04 .unit__img1 {
  width: 32.60394%; }

.unit--04 .unit__img2, .unit--04 .unit__img3, .unit--04 .unit__img4 {
  width: 31.50985%; }

@media screen and (max-width: 1317px) {
  .unit--04 .unit__img1, .unit--04 .unit__img2, .unit--04 .unit__img3, .unit--04 .unit__img4 {
    width: 47%;
    margin-bottom: 12px; } }

@media screen and (max-width: 1154px) {
  .unit--04 .unit__block {
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .unit--04 .unit__title {
    width: 65%;
    margin-left: 12px; }
  .unit--04 .unit_descr {
    width: 30%;
    padding-right: 12px; } }

@media screen and (max-width: 839px) {
  .unit--04 .unit__title {
    width: 100%; }
    .unit--04 .unit__title h2 {
      font-size: 56px;
      left: 40px; }
  .unit--04 .unit_descr {
    width: 100%;
    padding-left: 12px; }
  .unit--04 .unit__img1, .unit--04 .unit__img2, .unit--04 .unit__img3, .unit--04 .unit__img4 {
    width: 100%; } }

@media screen and (max-width: 575px) {
  .unit--04 img {
    box-shadow: none; } }
